<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ribbons.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5E4E889CEB336B1AB99BDCE81E84CD319502D1BB</string>
				<key>dateExpires</key>
				<string>03/08/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E4E889CEB336B1AB99BDCE81E84CD319502D1BB</string>
						<key>dateExpires</key>
						<string>03/08/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AACarousel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>753Q2374BG</string>
						<key>name</key>
						<string>eSearch Logix Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E4E889CEB336B1AB99BDCE81E84CD319502D1BB</string>
						<key>dateExpires</key>
						<string>03/08/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>753Q2374BG</string>
						<key>name</key>
						<string>eSearch Logix Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E4E889CEB336B1AB99BDCE81E84CD319502D1BB</string>
						<key>dateExpires</key>
						<string>03/08/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>753Q2374BG</string>
						<key>name</key>
						<string>eSearch Logix Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E4E889CEB336B1AB99BDCE81E84CD319502D1BB</string>
						<key>dateExpires</key>
						<string>03/08/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Buy.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>753Q2374BG</string>
						<key>name</key>
						<string>eSearch Logix Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E4E889CEB336B1AB99BDCE81E84CD319502D1BB</string>
						<key>dateExpires</key>
						<string>03/08/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>753Q2374BG</string>
						<key>name</key>
						<string>eSearch Logix Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E4E889CEB336B1AB99BDCE81E84CD319502D1BB</string>
						<key>dateExpires</key>
						<string>03/08/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>753Q2374BG</string>
						<key>name</key>
						<string>eSearch Logix Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E4E889CEB336B1AB99BDCE81E84CD319502D1BB</string>
						<key>dateExpires</key>
						<string>03/08/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FacebookCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>753Q2374BG</string>
						<key>name</key>
						<string>eSearch Logix Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E4E889CEB336B1AB99BDCE81E84CD319502D1BB</string>
						<key>dateExpires</key>
						<string>03/08/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FacebookLogin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>753Q2374BG</string>
						<key>name</key>
						<string>eSearch Logix Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E4E889CEB336B1AB99BDCE81E84CD319502D1BB</string>
						<key>dateExpires</key>
						<string>03/08/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMOAuth2.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>753Q2374BG</string>
						<key>name</key>
						<string>eSearch Logix Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E4E889CEB336B1AB99BDCE81E84CD319502D1BB</string>
						<key>dateExpires</key>
						<string>03/08/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>753Q2374BG</string>
						<key>name</key>
						<string>eSearch Logix Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E4E889CEB336B1AB99BDCE81E84CD319502D1BB</string>
						<key>dateExpires</key>
						<string>03/08/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>753Q2374BG</string>
						<key>name</key>
						<string>eSearch Logix Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E4E889CEB336B1AB99BDCE81E84CD319502D1BB</string>
						<key>dateExpires</key>
						<string>03/08/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>753Q2374BG</string>
						<key>name</key>
						<string>eSearch Logix Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E4E889CEB336B1AB99BDCE81E84CD319502D1BB</string>
						<key>dateExpires</key>
						<string>03/08/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Pay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>753Q2374BG</string>
						<key>name</key>
						<string>eSearch Logix Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E4E889CEB336B1AB99BDCE81E84CD319502D1BB</string>
						<key>dateExpires</key>
						<string>03/08/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>753Q2374BG</string>
						<key>name</key>
						<string>eSearch Logix Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E4E889CEB336B1AB99BDCE81E84CD319502D1BB</string>
						<key>dateExpires</key>
						<string>03/08/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftKeychainWrapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>753Q2374BG</string>
						<key>name</key>
						<string>eSearch Logix Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E4E889CEB336B1AB99BDCE81E84CD319502D1BB</string>
						<key>dateExpires</key>
						<string>03/08/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>753Q2374BG</string>
						<key>name</key>
						<string>eSearch Logix Technologies Private Limited</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>753Q2374BG.ribbons.com</string>
				<key>com.apple.developer.team-identifier</key>
				<string>753Q2374BG</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>753Q2374BG.ribbons.com</string>
				</array>
			</dict>
			<key>name</key>
			<string>Ribbons.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0a97befd-5c4c-4880-afef-88d6194ad6f0</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: ribbons.com</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>753Q2374BG</string>
				<key>name</key>
				<string>eSearch Logix Technologies Private Limited</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
