<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PetStylo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ABB85CB5214F8E910086A331</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABB85CC9214F8E950086A331</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABB85CD4214F8E950086A331</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
